{% extends "base.html" %} {% block title %} Index {% endblock %}
<!-- This is a comment -->
{% block content %}

<header>
  <h1 class="text-center">Página de Proyectos y Tareas</h1>
</header>

<main>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ut tempore eius
    repellendus quas, sequi sapiente mollitia culpa incidunt quod suscipit
    aspernatur atque, corrupti quae dolore animi aliquam quaerat vero?
  </p>
  <div class="col-12 d-flex justify-content-center">
    <div class="mb-3 col-lg-3 col-sm-12">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link btn btn-light" href="{% url 'ver_proyectos' %}"
            >Ver Proyectos</a
          >
        </li>
        <li class="nav-item2">
          <a class="nav-link btn btn-light" href="{% url 'tareas' %}"
            >Ver Tareas</a
          >
        </li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
