{% extends "base.html" %} {% block title %} Crear Tarea {% endblock %}
<!-- Contenido del bloque header20_content -->
{% block header20_content %}
<div class="row">
  <h1 class="text-center mb-4">Crear Nueva Tarea</h1>
  <div class="justify-content-around d-flex">
    {% include "parciales/goto_index.html" %}
    <!-- Incluye el botón para ver tareas -->
    {% include "parciales/goto_ver_tareas.html" %}
  </div>
</div>
{% endblock header20_content %}
<!-- Inicio del bloque de contenido -->
{% block content %}
<main
  class="overflow-y-auto altura-80 bg-secondary text-white align-items-center d-flex justify-content-center"
>
  <div class="container bg-light text-dark p-4 rounded">
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label for="titulo" class="form-label">Título de la Tarea:</label>
        <input
          type="text"
          name="titulo"
          maxlength="100"
          class="form-control"
          required
          id="titulo"
        />
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción:</label>
        <textarea
          name="descripcion"
          cols="40"
          rows="5"
          class="form-control"
          required
          id="descripcion"
        >
        </textarea>
      </div>
      <div class="mb-3">
        <label for="proyecto_id" class="form-label">Proyecto Asociado:</label>
        <select name="proyecto_id" class="form-select" id="proyecto_id">
          {% for proyecto in proyectos %}
          <option value="{{ proyecto.id }}">{{ proyecto.nombre }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="mb-3 d-flex justify-content-around">
        <button type="submit" class="btn btn-success col-4 col-md-3">
          Crear Tarea
        </button>
        <button type="reset" class="btn btn-secondary col-4 col-md-3">
          Limpiar
        </button>
      </div>
    </form>
  </div>
</main>
{% endblock %}
