{% extends "base.html" %} {% block title %} Ver Proyectos {% endblock %}
<!-- Inicio del bloque de contenido -->
{% block content %} {% with matriz="111111111111111" %}
<header class="sticky-top bg-warning altura-20 d-flex align-items-center">
  <div class="container">
    <div class="row">
      <h1 class="text-center mb-4">Página de Proyectos</h1>
      <div class="justify-content-around d-flex">
        <a class="btn btn-primary mb-3 col-5 col-md-3" href="{% url 'index' %}">
          Volver al Inicio
        </a>
        <a
          class="btn btn-primary mb-3 col-5 col-md-3"
          href="{% url 'crear_proyecto' %}"
          >Crear Proyecto
        </a>
      </div>
    </div>
  </div>
</header>
<main class="overflow-y-auto altura-80 bg-secondary text-white">
  <!-- inicio if -->
  {% if proyectos %}
  <div class="container">
    <table class="table table-striped">
      <thead class="sticky-top">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for veces in matriz %}
        <!-- Comentario -->
        {% for proyecto in proyectos %}
        <tr>
          <td>{{ proyecto.id }}</td>
          <td>{{ proyecto.nombre }}</td>
          <td>
            <a
              class="btn btn-warning"
              href="{% url 'editar_proyecto' proyecto.id %}"
              >Editar</a
            >
          </td>
        </tr>
        {% endfor %}
        <!-- Comentario -->
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>No hay proyectos disponibles.</p>
  {% endif %}
</main>
<!-- fin bloque  -->
{% endwith %} {% endblock %}
