{% extends "base.html" %} {% block title %} Ver Proyectos {% endblock %}
<!-- Inicio del bloque de contenido -->
{% block header20_content %}
<div class="row">
  <h1 class="text-center mb-4">Página de Proyectos</h1>
  <div class="justify-content-around d-flex">
    {% include "parciales/goto_index.html" %}
    <!--  -->
    {% include "parciales/goto_crear_proyecto.html" %}
  </div>
</div>
{% endblock header20_content %} {% block content %}
<!-- Inicio del bloque de contenido -->
{% with matriz="111111111111111" %}
<main class="overflow-y-auto altura-80 bg-secondary text-white">
  <div class="container">
    <!-- inicio if -->
    {% if proyectos %}
    <table class="table table-striped">
      <thead class="sticky-top">
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for veces in matriz %}
        <!-- Comentario -->
        {% for proyecto in proyectos %}
        <tr>
          <td>{{ proyecto.id }}</td>
          <td>{{ proyecto.nombre }}</td>
          <td>
            <a
              class="btn btn-warning"
              href="{% url 'editar_proyecto' proyecto.id %}"
            >
              Editar
            </a>
          </td>
        </tr>
        {% endfor %}
        <!-- Comentario -->
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>No hay proyectos disponibles.</p>
    {% endif %}
  </div>
</main>
<!-- fin bloque  -->
{% endwith %} {% endblock content %}
