.no-scroll {
  overflow: hidden;
}

.altura-100p {
  height: 100%;
}

.altura-80p {
  height: 80%;
}

.altura-60p {
  height: 60%;
}

.altura-40p {
  height: 40%;
}

.altura-100 {
  height: 100vh;
}

.altura-80 {
  height: 80vh;
}

.altura-60 {
  height: 60vh;
}

.altura-40 {
  height: 40vh;
}

.altura-20 {
  height: 20vh;
}